.movie__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}
.movie__box {
  flex: 1 40% 500px;
}
.movie__img-wrap {
  max-width: 400px;
  margin: 20px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}
